<footer class="footer p-5 bg-dark mt-5" data-bs-theme="dark"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-3"> 
                <a class="navbar-brand" href="/">
                    <img src="/images/2-removebg-preview (1).png" alt="StoryLeo Logo " height="60" width="120" >
                  </a>
            </div> 
            <div class="col-md-3"> 
                <h5 style="color: #f25f5f;">Know Us</h5> 
                <p style="color: #ffffff;"> 
                    Join StoryLeo to share your personal adventures and connect with a community of storytellers!
                </p> 
            </div> 
            <div class="col-md-3"> 
                <h5 style="color: #f25f5f;">Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li style="color: #ffffff;">Email: mayankgurjar1570@gmail.com</li> 
                    <li style="color: #ffffff;">Phone: 6350076689</li>
                </ul> 
            </div> 
            <div class="col-md-3"> 
                <h5 style="color: #f25f5f;">Follow Us</h5> 
                <ul class="list-inline footer-links">  
                    <li class="list-inline-item"> 
                        <a href="#"> 
                            <i class="fab fa-github"></i>
                      </a>
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-instagram" style="color: #ffffff;"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="https://www.linkedin.com/in/mayank-gurjar-684b45237/"> 
                            <i class="fab fa-linkedin" style="color: #ffffff;"></i> 
                      </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
        <hr> 
        <div class="row mb-0"> 
            <div class="col-md-6"> 
                <p style="color: #ffffff;">© 2024 Mayank Gurjar. All rights reserved.</p> 
            </div> 
            <div class="col-md-6 text-end"> 
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                        <a href="#" style="color: #ffffff;"> 
                            Privacy Policy 
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#" style="color: #ffffff;"> 
                            Terms of Service 
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#" style="color: #ffffff;"> 
                            Sitemap 
                        </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </div> 
</footer>
